.first set{
    height: 500px;
    border: 10px solid;
    border-color: aquamarine;
    display:flex;
    flex-direction: column;

}
.box1{
    height: 100px;
    width:100px;
    border:10px solid;
    border-radius: 10px;
    align-content:center;
    border-color: rgba(8, 51, 2, 0.685);
    background-color: rgb(0, 223, 19);
}
